.header {
  align-items: center;
  display: flex;
  gap: var(--mantine-spacing-md);
  height: 100%;
}

.logo {
  align-items: center;
  color: var(--mantine-color-black) !important;
  display: flex !important;
  gap: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    margin: auto !important;
    flex-direction: row-reverse;
  }
}

.logo-image {
  height: 80px;
  color: var(--mantine-color-pc-denim-4);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(40);
  }
}

.logo-type {
  height: rem(50);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(30);
  }
}