.wrapper {
  background-color: var(--mantine-color-pc-denim-0);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
}

.top-footer {
  @media (max-width: $mantine-breakpoint-sm) {
    align-items: center;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
  }
}

.top-left {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    align-items: center;
    gap: var(--mantine-spacing-md);
  }
}

.link-list {
  flex-direction: column;

  @media (min-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
  }
}

.bottom-footer {
  color: var(--mantine-color-dimmed);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    gap: var(--mantine-spacing-md);
    text-align: center;
  }
}