.container {
  flex-direction: column;

  @media (min-width: $mantine-breakpoint-sm) {
    flex-direction: row;
    margin-bottom: var(--mantine-spacing-xl);
    margin-top: var(--mantine-spacing-xl);
  }
}

.content {
  align-items: center;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
  margin-bottom: var(--mantine-spacing-xl);
  position: relative;
  text-align: center;
  z-index: 1;

  @media (min-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
    text-align: left;
  }
}

.image {
  max-width: 100dvw;
  object-fit: contain;
  object-position: bottom;
}

.image-container {
  bottom: 0;
  position: absolute;
  right: 0;
}