.card {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: var(--mantine-spacing-md);
  max-width: rem(640);
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
  }
}

.testimonial {
  background-color: var(--mantine-color-pc-denim-0);
  border-bottom: 1px solid var(--mantine-color-pc-denim-2);
  border-radius: 0;
  height: 100%;
  padding: var(--mantine-spacing-sm);
}